@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@700&family=Muli&family=Roboto&family=Roboto+Slab:wght@500&display=swap");
@import "../../materialize-src/sass/materialize.scss";
@import "./partials/variables";
@import "./partials/header";
@import "./partials/showcase";
@import "./partials/gallery";
@import "./partials/info";
@import "./partials/register";
@import "./partials/media-query";
@import "./partials/form-pages";
@import "./partials/homepage-cover";
@import "./partials/store";
@import "./partials/account";
@import "./partials/cart";
@import "./partials/confirm";

footer {
  background-color: darken($color: #454545, $amount: 10%);
  color: white;
  padding: 12px;
  font-family: $text-font;
}
