@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@700&family=Muli&family=Roboto&family=Roboto+Slab:wght@500&display=swap");
header {
  position: absolute;
  top: 0;
  width: 100%;
}
header nav {
  background-color: transparent;
  box-shadow: initial;
  font-family: "Roboto", sans-serif;
}
header nav .nav-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#showcase {
  background: url("../../images/landing-page-cover.jpg") center center/cover;
  background-color: #444;
  background-blend-mode: overlay;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
#showcase h1 {
  font-family: "Lobster", sans-serif;
  font-size: 6rem;
  margin: 0;
}
#showcase p {
  font-family: "Muli", sans-serif;
  font-size: 1.4rem;
}
#showcase .btn {
  font-family: "Roboto", sans-serif;
}

#gallery h2 {
  font-family: "Lobster", sans-serif;
  text-decoration: underline double;
  font-size: 3rem;
}
#gallery p {
  width: 500px;
  margin: auto;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
#gallery ul {
  margin: auto;
  display: flex;
  justify-content: center;
}
#gallery ul li {
  width: 400px;
  margin: 0;
}
#gallery ul li .card {
  padding: 0;
}
#gallery ul li .card .card-image .right-align {
  background-image: linear-gradient(transparent, #454545);
}
#gallery ul li .card .card-image .card-title {
  font-family: "Lobster Two", cursive;
  font-weight: 500;
  padding: 10px 20px;
  width: 100%;
}
#gallery ul li .card p {
  width: 100%;
}

#register {
  height: 50vh;
  background: url("../../images/cover-2.jpg") no-repeat center center/cover;
  background-color: #444;
  background-blend-mode: overlay;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#register h2 {
  font-family: "Lobster", sans-serif;
  margin: 0;
}
#register p {
  margin: 0 0 20px;
  font-family: "Muli", sans-serif;
  font-size: 1.4rem;
}

#info {
  height: 93vh;
  background-color: #454545;
  color: white;
  padding: 50px;
}
#info #avatar {
  width: 120px;
  height: 120px;
  border: 2px dashed wheat;
  border-radius: 50%;
  margin: auto;
}
#info h4 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0;
}
#info p {
  width: 450px;
  margin: 20px auto 100px;
}
#info form {
  margin: 30px auto 100px;
}
#info form h5 {
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
}
#info form .input-field {
  width: 400px;
  margin: auto;
  display: flex;
}
#info form .input-field input {
  color: white;
}
#info form .input-field .btn-floating {
  box-shadow: none;
  width: 60px;
  padding-right: 18px;
}
#info #social-contact {
  display: flex;
  justify-content: space-between;
}
#info #social-contact h6 {
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}
#info #social-contact ul {
  display: flex;
  justify-content: space-between;
}
#info #social-contact ul li {
  margin: 0 10px;
}
#info #social-contact ul li i {
  font-size: 24px;
}
#info #social-contact ul li img {
  width: 1.4rem;
}

footer {
  background-color: #2c2c2c;
  color: white;
  padding: 12px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 599px) {
  #showcase h1 {
    font-size: 4rem;
  }

  #gallery h2 {
    font-size: 2rem;
  }
  #gallery p {
    width: 80%;
  }
  #gallery ul {
    flex-direction: column;
  }
  #gallery ul li {
    width: 100%;
  }

  #register h2 {
    font-size: 2rem;
  }
  #register p {
    font-size: 1.2rem;
  }

  #info {
    height: initial;
  }
  #info p {
    width: 85%;
  }
  #info form h5 {
    font-size: 1.4rem;
  }
  #info form .input-field {
    width: 100%;
  }
  #info form .input-field .btn-floating {
    padding-right: 35px;
  }
}
#register-form h1,
#login-form h1 {
  font-family: "Lobster Two", cursive;
}
#register-form fieldset,
#login-form fieldset {
  border: none;
}
#register-form fieldset .card-panel,
#login-form fieldset .card-panel {
  padding: 10px;
}
#register-form fieldset form,
#login-form fieldset form {
  width: 90%;
  margin: 40px auto;
}
#register-form fieldset form .right,
#login-form fieldset form .right {
  padding-top: 10px;
}
