@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Muli&family=Roboto+Slab&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  padding: 10px 0;
}
header nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: row;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: unset;
  flex-direction: row;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}
@media (max-width: 599px) {
  header nav ul li a {
    font-size: 0.8rem;
  }
}
header nav button {
  border: 1px solid white;
  background-color: transparent;
  padding: 5px 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: ease-in 100ms;
}
header nav button:hover {
  background-color: white;
  color: black;
}

#showcase {
  height: 100vh;
  color: white;
  background: url("../../../../images/landing-page-cover.jpg") center center/cover;
  background-color: #434343dd;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#showcase h1 {
  font-family: "Lobster", sans-serif;
  font-size: 4rem;
}
@media (max-width: 599px) {
  #showcase h1 {
    font-size: 3rem;
  }
}
#showcase p {
  font-family: "Muli", sans-serif;
  text-align: center;
}
#showcase button {
  border: 2px solid white;
  background-color: transparent;
  padding: 10px 20px;
  color: black;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 600;
  color: white;
  margin-top: 15px;
  transition: ease-in 200ms;
}
#showcase button:hover {
  background-color: white;
  color: black;
}

#gallery {
  width: 100%;
  padding: 10px 0;
}
#gallery h2 {
  font-family: "Lobster", sans-serif;
  text-decoration: underline;
  padding: 20px 0;
  text-align: center;
}
#gallery p {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
#gallery ul {
  margin: 30px 90px;
  list-style-type: none;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: unset;
  flex-direction: row;
}
#gallery ul li {
  width: 350px;
  overflow: hidden;
}
#gallery ul li img {
  height: 100%;
  transform: translate(-10%);
}
@media (max-width: 599px) {
  #gallery {
    padding: 0;
  }
  #gallery ul {
    margin: 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: unset;
    flex-direction: column;
    height: initial;
  }
  #gallery ul li {
    height: 400px;
    width: 100%;
    margin: 0;
  }
  #gallery ul li img {
    height: 100%;
  }
}

#info {
  background-color: #454545;
  color: white;
  height: 75vh;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}
#info #personal-info {
  height: 50vh;
  width: 500px;
}
@media (max-width: 599px) {
  #info #personal-info {
    width: 80%;
    margin-bottom: 50px;
  }
}
#info #personal-info #avatar {
  margin: 60px auto 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px dashed #d17b7b;
}
#info #personal-info p {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#info #contact-and-subscription {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
}
#info #contact-and-subscription form {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
}
#info #contact-and-subscription form input {
  padding: 5px 10px;
}
#info #contact-and-subscription form input::placeholder {
  font-family: "Roboto", sans-serif;
}
#info #contact-and-subscription form button {
  border: 1px solid black;
  background-color: white;
  padding: 6px 10px;
  color: black;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
@media screen {
  #info #contact-and-subscription form {
    font-size: 1.4rem;
  }
  #info #contact-and-subscription form input {
    margin: 5px 0 15px;
  }
}
#info #contact-and-subscription #social-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin: 0 auto;
  width: 80vw;
}
@media (max-width: 599px) {
  #info #contact-and-subscription #social-contact {
    width: 100vw;
    margin-bottom: 20px;
  }
}
#info #contact-and-subscription #social-contact ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: unset;
  flex-direction: row;
}
#info #contact-and-subscription #social-contact ul li {
  margin: 0 10px;
}
#info #contact-and-subscription #social-contact ul li a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

footer {
  background-color: #343434;
  color: white;
  height: 50px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  height: 100vh;
}
#form h1 {
  margin-bottom: 20px;
}
#form fieldset {
  width: 50vw;
  padding: 40px 10px;
  border: none;
  border-radius: 5px;
}
@media (max-width: 599px) {
  #form fieldset {
    width: 100%;
  }
}
#form fieldset form div {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  padding: 0 10px;
  width: 90%;
  margin-bottom: 10px;
  margin: auto;
}
#form fieldset form div input {
  padding: 10px;
}
#form fieldset form button {
  border: 0 solid #06f;
  background-color: #06f;
  padding: 10px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: inherit;
  border-radius: 5px;
  display: flex;
  margin: 10px;
  flex-grow: 1;
}
