{{> navbar }}
<div id="account-page">
    <h1 class="center-align">My Account</h1>

    <div class="tab-menu">
        <ul class="z-depth-1 tabs tabs-transparent blue">
            <li class="tab">
                <a class="white-text" href="#account">
                    <i class="left material-icons">person</i>
                    <span class="hide-on-small-only">Account</span>
                </a>
            </li>
            <li class="tab">
                <a class="white-text" href="#history">
                    <i class="left material-icons">history</i>
                    <span class="hide-on-small-only">Order History</span>
                </a>
            </li>
            <li class="tab">
                <a class="white-text" href="#payment">
                    <i class="left material-icons">payment</i>
                    <span class="hide-on-small-only">Payment Options</span>
                </a>
            </li>
        </ul>
        <hr />
    </div>
    <section class="container" id="account">
        <h2>Account Setting</h2>
        <ul class="container collection">
            <li class="collection-item">
                <ul class="row">
                    <li class="col s6" id="fullName">Full Name</li>
                    <li class="col s4 center-align">
                        <input type="text" name="fullName" aria-labelledby="#fullName" value="{{user.fullName}}"
                            required>
                    </li>
                </ul>
            </li>
            <li class="collection-item">
                <ul class="row">
                    <li class="col s6" id="email">Email</li>
                    <li class="col s4 center-align">
                        <input type="email" name="email" aria-labelledby="#email" value={{user.email}} required>
                    </li>
                </ul>
            </li>
            <li class="collection-item">
                <ul class="row">
                    <li class="col s6" id="tel">Telephone Number</li>
                    <li class="col s4 center-align">
                        <input type="text" name="telNo" aria-labelledby="#tel" placeholder="Add a telephone number"
                            required value={{user.telNo}}>
                    </li>
                </ul>
            </li>
            <li class="collection-item">
                <ul class="row">
                    <li class="col s4">Password</li>
                    <li class="col s4 center-align">
                        <i class="material-icons">lock</i>
                    </li>
                    <li class="col s4 right-align">
                        <a href="#" class="waves-effect btn-floating white">
                            <i class="material-icons blue-text">edit</i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <br>
        <div class="container">
            <button id="submit-update" class="right btn green waves-effect">Done</button>
        </div>
    </section>
    <section id="history" class="container">
        <h2>Order History</h2>
        <table class="container responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Date/Time</th>
                    <th>Recipe</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>2314ded2ef2234fs</td>
                    <td>23-10-20</td>
                    <td>Chicken Pizza</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>2314ded2ef2234fs</td>
                    <td>23-10-20</td>
                    <td>Chicken Pizza</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>2314ded2ef2234fs</td>
                    <td>23-10-20</td>
                    <td>Chicken Pizza</td>
                    <td>$0.87</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section id="payment" class="container">
        <h2>Payment Method</h2>
        <ul class="container">
            <li id="stripe" class="card z-depth-0">
                Stripe
                <img src="/images/stripe.jpg" alt="stripe" width="100">
            </li>
            <li id="momo" class="card z-depth-0">
                MoMo
                <img src="/images/mobile_money.jpg" alt="mobile-money" width="100">
            </li>
            <li id="cash" class="card z-depth-0 black-text">
                Cash
                <img src="/images/cash.png" alt="cash" width="100">
            </li>
        </ul>
    </section>
</div>
<script>
    const paymentMethod = document.querySelectorAll('#payment li')

    paymentMethod.forEach(method =>
        method.addEventListener('click', async _ => {
            if (method.id === "cash") {
                await M.toast({
                    html: '<i class="material-icons">info</i>&nbsp; Processing request, Please wait',
                    classes: "blue"
                });

                try {
                    const res = await fetch('/payment/cash', { method: 'GET' });
                    const data = await res.text()
                    if (data === "OK")
                        await M.toast({
                            html: '<i class="material-icons">check_circle</i>&nbsp;Order Sent',
                            classes: "green"
                        });
                    else await M.toast({
                        html: '<i class="material-icons">clear</i>&nbsp; Something went wrong! Please try again',
                        classes: "red"
                    });
                } catch (err) {
                    await M.toast({
                        html: '<i class="material-icons">clear</i>&nbsp; Something went wrong! Please try again',
                        classes: "red"
                    });
                }
            } else {
                await M.toast({
                    html: '<i class="material-icons">warn</i>&nbsp; Method not available yet! try another method',
                    classes: "amber accent-4"
                });
            }
        })
    )
</script>