<div class="container">
    <div class="row">
        <div class="waves-effect waves-orange header-card card center-align col s3">
            <h2>Users</h2>
            <p>128</p>
        </div>
        <div class="waves-effect waves-orange header-card card center-align col s3">
            <h2>Total Sales</h2>
            <p>$2,804.41</p>
        </div>
        <div class="waves-effect waves-orange header-card card center-align col s3">
            <h2>New Sales</h2>
            <p>$65.20</p>
        </div>
        <div class="waves-effect waves-orange header-card card center-align col s3">
            <h2>Number Sold</h2>
            <p>6</p>
        </div>
    </div>
</div>