<div id="confirm" class="container">
    <h1 class="center-align">Confirm Email</h1>
    <main class="container card blue">
        <div class="container">
            <p class="white-text center-align">
                {{success}}
            </p>
            <a href="/confirm/resend" class="btn white black-text">Resend link</a>
        </div>
    </main>
</div>