{{> navbar}}

<main>
    <section id="showcase">
        <h1>Delicious <span>😋</span></h1>
        <p>Get your pizza now. No waiting. Fast and Delicious</p>
        <button>Make an Order</button>
    </section>
    <section id="gallery">
        <h2>Order from our store</h2>
        <p>Our store has all sort of pizza recipes. All recipes are customizable. Sign and order a recipe of your
            preference.</p>
        <ul>
            <li><img src="/images/gallery-thumbnail-1.jpg" alt=""></li>
            <li><img src="/images/gallery-thumbnail-2.jpg" alt=""></li>
            <li><img src="/images/gallery-thumbnail-3.jpg" alt=""></li>
        </ul>
    </section>
</main>