<main class="container" id="login-form">
    {{#if admin }}
    <h1 class="center-align">Admin Login</h1>
    {{ else }}
    <h1 class="center-align">Login</h1>
    {{/if}}
    <fieldset class="card" title="Login">
        {{> messages }}
        <form class="row" action="/login" method="POST">
            <div class="input-field col s12">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" autofocus required>
            </div>
            <div class="input-field col s12">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button class="col s12 btn blue white-text center-align" type="submit">Submit</button>
            <div class="col s12 links">
                <a href="/reset-password" class="left-align">Forgot Password?</a>
                <a href="/register" class="right-align">Don't have an account? Sign Up</a>
            </div>
        </form>
    </fieldset>
</main>