<main class="container" id="login-form">
    <h1 class="center-align">Login</h1>
    <fieldset class="card" title="Login">
        {{> messages }}
        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" autofocus required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autofocus required>
            </div>
            <button class="btn blue white-text" type="submit">Submit</button>
            <a href="/register" class="right">Don't have an account? Sign Up</a>
        </form>
    </fieldset>
</main>