<section id="info">
    <div id="personal-info">
        <div id="avatar"></div>
        <h4 class="center-align">BIO</h4>
        <p class="center-align">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vitae assumenda facilis
            asperiores alias
            accusamus commodi. Voluptate deleniti nihil pariatur eaque nulla omnis. Quaerat, sed sapiente animi
            quibusdam consectetur suscipit!</p>
    </div>
    <div id="contact-and-subscription">
        <div id="news-letter">
            <form action="/" method="POST">
                <h5 class="center-align">Subscribe to our newsletter</h5>
                <div class="input-field">
                    <input id="email" name="email" type="email" />
                    <label for="email">Email</label>
                    <a class="waves-effect waves-light btn-floating btn-large transparent">
                        <i class="small material-icons">send</i>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div id="social-contact" class="hide-on-small-only">
        <div id="contact">
            <h6 class="center-align">Contact Us</h6>
            <ul class="links" id="contact">
                <li><a href=""><i class="material-icons green-text">call</i></a></li>
                <li><a href=""><i class="fab fa-whatsapp green-text"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
                <li><a href=""><i class="material-icons white-text">email</i></a></li>
            </ul>
        </div>
        <div id="social-media">
            <h6 class="center-align">Follow Us</h6>
            <ul class="links" id="social-media">
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-pinterest red-text"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-instagram white-text"></i></a></li>
            </ul>
        </div>
    </div>
    </div>
</section>