<section id="info">
    <div id="personal-info">
        <div id="avatar"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vitae assumenda facilis asperiores alias
            accusamus commodi. Voluptate deleniti nihil pariatur eaque nulla omnis. Quaerat, sed sapiente animi
            quibusdam consectetur suscipit!</p>
    </div>
    <div id="contact-and-subscription">
        <div id="news-letter">
            <form action="/index" method="post">
                <label for="email">Subscribe to our Newsletter</label>
                <br />
                <input type="email" id="email" placeholder="Email" name="email">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="social-contact">
            <ul class="links" id="contact">
                <li><a href="">Tel</a></li>
                <li><a href="">Mes</a></li>
                <li><a href="">Email</a></li>
            </ul>
            <ul class="links" id="social-media">
                <li><a href="">F</a></li>
                <li><a href="">Y</a></li>
                <li><a href="">T</a></li>
                <li><a href="">I</a></li>
            </ul>
        </div>
    </div>
</section>