#gallery {
  width: 100%;
  padding: 10px 0;

  h2 {
    font-family: $header-font;
    text-decoration: underline;
    padding: 20px 0;
    text-align: center;
  }

  p {
    font-family: $para-btn-font;
    text-align: center;
  }

  ul {
    margin: 30px 90px;
    list-style-type: none;
    height: 450px;
    @include display-flex(space-evenly, unset, row);

    li {
      width: 350px;
      overflow: hidden;

      img {
        height: 100%;
        transform: translate(-10%);
      }
    }
  }

  @media (max-width: 599px) {
    padding: 0;

    ul {
      margin: 30px 0 0;
      @include display-flex(center, unset, column);
      height: initial;

      li {
        height: 400px;
        width: 100%;
        margin: 0;

        img {
          height: 100%;
        }
      }
    }
  }
}
