#info {
  background-color: #454545;
  color: white;
  height: 75vh;
  @include display-flex(unset, center, column);

  #personal-info {
    height: 50vh;
    width: 500px;

    @media (max-width: 599px) {
      width: 80%;
      margin-bottom: 50px;
    }

    #avatar {
      margin: 60px auto 30px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px dashed #d17b7b;
    }

    p {
      text-align: center;
      font-family: $para-btn-font;
    }
  }

  #contact-and-subscription {
    height: 20vh;
    @include display-flex(space-between, unset, column);

    form {
      text-align: center;
      font-family: $sub-header-font;
      font-size: 1.8rem;

      input {
        padding: 5px 10px;

        &::placeholder {
          font-family: $para-btn-font;
        }
      }

      button {
        @include button(6px 10px, $border-width: 1px);
      }

      @media screen {
        font-size: 1.4rem;

        input {
          margin: 5px 0 15px;
        }
      }
    }

    #social-contact {
      @include display-flex(space-between, flex-end, row);
      margin: 0 auto;
      width: 80vw;

      @media (max-width: 599px) {
        width: 100vw;
        margin-bottom: 20px;
      }

      ul {
        list-style-type: none;
        @include display-flex(space-evenly, unset, row);

        li {
          margin: 0 10px;

          a {
            @include link;
          }
        }
      }
    }
  }
}
