header {
  position: absolute;
  width: 100%;
  padding: 10px 0;

  nav {
    width: 80%;
    margin: auto;
    @include display-flex(space-between, unset, row);

    ul {
      list-style-type: none;
      @include display-flex(space-evenly, unset, row);

      li {
        margin: 0 10px;

        a {
          @include link;

          @media (max-width: 599px) {
            font-size: 0.8rem;
          }
        }
      }
    }

    button {
      @include button(5px 10px, transparent, 1px, white, white);
      transition: ease-in 100ms;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
