#showcase {
  height: 100vh;
  color: white;
  background: url("../../../../images/landing-page-cover.jpg") center
    center/cover;
  background-color: #434343dd;
  background-blend-mode: overlay;
  @include display-flex(center, center, column);

  h1 {
    font-family: $header-font;
    font-size: 4rem;

    @media (max-width: 599px) {
      font-size: 3rem;
    }
  }

  p {
    font-family: $caption-font;
    text-align: center;
  }

  button {
    @include button(10px 20px, transparent, $border-color: white);
    font-weight: 600;
    color: white;
    margin-top: 15px;
    transition: ease-in 200ms;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
