#cart {
  h1 {
    font-family: $header-font;
  }

  .card {
    height: fit-content;
  }

  .card-image {
    img {
      width: 300px;
    }
  }

  .card-content {
    display: flex;
    justify-content: space-between;

    p {
      max-width: 300px;
    }

    h2,
    h3 {
      margin: 0;
    }

    h2 {
      margin-bottom: 8px;
      font-size: 3rem;
      font-family: $header-font-2;
    }

    h3 {
      margin-top: 8px;
      font-size: 2rem;
      font-family: $sub-header-font;
    }

    h4 {
      font-family: $sub-header-font;
      font-size: 2rem;
      margin: 0 auto 10px;
    }
    .chip {
      margin: 0;
    }

    #config span {
      padding: 8px;
    }
  }

  .card-action {
    padding: 5px;

    a {
      margin-left: 6px;
    }
  }
}
