#confirm {
  h1 {
    font-family: $header-font;

    @media #{$small-and-down} {
      font-size: 3rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    height: 200px;
  }
}
