#register-form {
  width: 45%;

  h1 {
    font-family: $header-font-2;
  }

  fieldset {
    border: none;

    .card-panel {
      padding: 10px 0;
    }

    form {
      width: 90%;
      margin: 40px auto;

      .right {
        padding-top: 10px;
      }

      div {
        padding: 0;

        input {
          margin: 0;
        }
      }

      button {
        margin: 0;
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
    }
  }

  @media #{$small-and-down} {
    width: 95%;

    div {
      width: 100%;
    }
  }
}

#login-form {
  @extend #register-form;
  width: 30%;

  @media #{$medium-and-down} {
    width: 450px;

    div {
      width: 100%;
    }
  }

  @media #{$small-and-down} {
    width: 95%;

    div {
      width: 100%;
    }
  }
}
