@media (max-width: 599px) {
  #showcase {
    h1 {
      font-size: 4rem;
    }
  }

  #gallery {
    h2 {
      font-size: 2rem;
    }

    p {
      width: 80%;
    }

    ul {
      flex-direction: column;

      li {
        width: 100%;
      }
    }
  }

  #register {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  #info {
    height: initial;
    position: relative;

    p {
      width: 85%;
    }

    form {
      h5 {
        font-size: 1.4rem;
      }

      .input-field {
        width: 100%;

        .btn-floating {
          padding-right: 35px;
        }
      }
    }

    #social-contact {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }
}
