<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="/materialize-src/js/bin/materialize.min.js"></script>
    <script defer src="https://js.stripe.com/v3/"></script>
    <script defer src="/js/script.js"></script>
    <script defer src="/js/stripe.js"></script>
    <title>Pizza - {{ title }}</title>
</head>

<body>
    {{{ body }}}
</body>

</html>